{{#if products.length}}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {{#each products}}
    <div class="col">
        <div class="card shadow-sm">
            <img src="{{img}}" alt="img">
            <div class="card-body">
                <p class="card-text fw-bold">{{title}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="m-0">{{formatDate createdAt}}</p>
                    <small class="text-body-secondary fs-5">{{price}}.00$</small>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-outline-primary" href="product/{{_id}}">Detail</a>
                    {{#if @root.token}}
                    {{#ifequal user @root.userId}}
                    <a href="edit-product/{{_id}}" class="btn btn-outline-secondary">Edit</a>
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#{{_id}}">
                        Delete
                    </button>
                    {{/ifequal}}
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="modal fade" id="{{_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel"> Are you sure you want to delete this
                            product?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        The product: <b>{{title}}</b>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form action="/delete-product/{{_id}}" method="post">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>Products unavialable</p>
{{/if}}